<div class="navbar">
        <a href="/" class="logo"><img src="images/logo.png" width="125px"></a>
            <nav>
                <li><a class="active" href="index">Home</a> </li>
                <li><a href="products">Products</a> </li>
                <li><a href="about">About</a> </li>
                <li><a href="contact">Contact</a> </li>
            </nav>
        <a href="login">
        <img src="images/usernew.svg" width="54px" height="22px"> 
        </a>
    </div> 