<!DOCTYPE html>
<html lang="en">  
<!---------- HEAD ---------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A3 Design | Online Catalog</title>
    <link rel="stylesheet" href="css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!---------- IMPORTS ---------->
    <!--- Adding icons such as WhatsApp, Facebook and Instagram pages --->
    <script src="https://kit.fontawesome.com/9ffe78eb03.js" crossorigin="anonymous"></script>
</head>
<body>

<!---------- NAVIGATION BAR ---------->
<!--- Adds navbar items such as the logo, links and login icon --->
 <div class="navbar">
        <a href="index" class="logo"><img src="../images/logo.png" width="125px"></a>
            <nav>
                <li><a href="index">Home</a> </li>
                <li><a href="products">Products</a> </li>
                <li><a class="active" href="about">About</a> </li>
                <li><a href="contact">Contact</a> </li>
            </nav>
        <a href="login">
        <img src="images/usernew.svg" width="54px" height="22px"> 
        </a>
    </div>

    <!---------- BREADCRUMBS ---------->
    <!--- Breadcrumbs will guide the user by showing the hierarchy of the website on the top of the page --->
    <div class="container-breadcrumbs">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index" class="breadcrumbs__link">Home</a>
            </li>
            <!--- Present the name of the page the user is at this moment ---> 
            <li class="breadcrumbs__item">
                <a href="products" class="breadcrumbs__link breadcrumbs__link--active">About</a>
            </li>
        </ul>    
    </div>
    
<!---------- ABOUT US ---------->   
<!--- Create a section --->  
<section class="about" id="about">
    <div class="row">
        <div class="col50">
            <h2 class="titleText">About Us</h2>
             <span class="underline"></span>
            <!--- Our Story - Paragraph --->
            <p><br>For the past 15 years, A3 Design has gained the public`s eye for the high-quality products and great customer experience.
            <br>
            <br>
            We understand that choosing a wallpaper can be quite the journey, especially when there are so many options available. 
            That`s where the sales team can guide you and make sure you get exactly what you dreamed of.
            <br>
            <br>Exploring our luxury range from Designer brands you can also find glamourish collections such as Versace,
            Porsche, Karim Rachid and our favourite, the Van Gogh inspired collection.
            <br>
            <br>We can`t wait for your next visit!<br><br>
            </p>
        </div>
        <!--- Create a div to add the image --->
        <div class="col50">
            <div class="imgBx">
                <img src="images/STORE/store2.jpg">
            </div>
        </div>
    </div>
</section>
        
    <!---------- IMAGE GALLERY ---------->
    <!--- Create an image gallery to show another images under the main image from Section --->
    <div class="row-images">

    <!--- Add each image column --->
    <div class="column">
        <img src="images/STORE/store1.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="image-hover cursor">
    </div>
     <!--- Add each image column --->
    <div class="column">
        <img src="images/STORE/store2.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="image-hover cursor">
    </div>
     <!--- Add each image column --->
    <div class="column">
        <img src="images/STORE/store3.jpg"  style="width:100%" onclick="openModal();currentSlide(3)" class="image-hover cursor">
    </div>
     <!--- Add each image column --->
    <div class="column">
        <img src="images/STORE/store4.jpg"  style="width:100%" onclick="openModal();currentSlide(4)" class="image-hover cursor">
    </div>
    </div>

    <!--- Create image modal box --->

    <!--- Close the window when the user clicks on the X button --->
    <div id="myModal" class="modal">
    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

    <!--- Add images to the slide --->
    <div class="mySlides">
      <div class="numbertext">1 / 4</div>
      <img src="images/STORE/store1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 4</div>
      <img src="images/STORE/store2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 4</div>
      <img src="images/STORE/store3.jpg" style="width:100%">
    </div>
    
    <div class="mySlides">
      <div class="numbertext">4 / 4</div>
      <img src="images/STORE/store4.jpg" style="width:100%">
    </div>
    
    <!--- If the user clicks on the previous or next buttons, go back to a certain image or forward --->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>

     <!--- Define images, titles and width --->
    <div class="column">
      <img class="demo cursor" src="images/store1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Front Display">
    </div>
    <div class="column">
      <img class="demo cursor" src="images/store2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Store Front View">
    </div>
    <div class="column">
      <img class="demo cursor" src="images/store3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Inside View - Inspiration Wall">
    </div>
    <div class="column">
      <img class="demo cursor" src="images/store4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Inside View">
    </div>
  </div>
</div>
<br>
    
<!--- Image modal box Script --->
<script>

//Open window whenever a photo is clicked by the user
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

//Close window and don`t display anything
function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

//Create function to catch the index of the slide image
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

//Function gets elements and establishes the length of the slide
function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script> 

<!---------- MEET THE TEAM ---------->
<!--- Show team members and their positions --->
    <div class="team-section">
        <div class="inner-width">
            <h1>Our Team</h1>
            <h2>AWESOME LEADERS</h2>

            <!--- Team person 1 --->
            <div class="pe">
                <img src="images/TEAM/3.jpg" alt="">
                <div class="p-name">Marcelo Souza</div>
                <div class="p-des">Founder</div>
                <!--- Add social media icons --->
                <div class="p-sm">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <!--- Team person 2 --->
            <div class="pe">
                <img src="images/TEAM/2.jpg" alt="">
                <div class="p-name">Nethe Lima</div>
                <div class="p-des">Founder</div>
                <!--- Add social media icons --->
                <div class="p-sm">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>

            <!--- Team person 3 --->
            <div class="pe">
                <img src="images/TEAM/1.jpg" alt="">
                <div class="p-name">Brunna Souza</div>
                <div class="p-des">Marketing Leader</div>
                <!--- Add social media icons --->
                <div class="p-sm">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    
    <!---------- WEB CATALOG SECTION

    <div class="section-top">
        <h1>Web Catalog</h1>
        <h2>Now you can view our products online and purchase them through WhatsApp!
        <br>  
        </h2>
        <div class="img1" d>
            <img src="images/OTHERS/8.jpg">
        </div>

    </div>
    ---------->

<!---------- FOOTER ---------->
<!--- Get footer partials --->
<%- include("partials/footer"); -%>
    
</body>
</html>