<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A3 Design | Online Catalog</title>
    <link rel="stylesheet" href="css/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!---------- IMPORTS ---------->
    <script src="https://kit.fontawesome.com/9ffe78eb03.js" crossorigin="anonymous"></script>
</head>
<body>
<!---------- NAVIGATION BAR ---------->
    
 <div class="navbar">
        <a href="index" class="logo"><img src="../images/logo.png" width="125px"></a>
            <nav>
                <li><a href="index">Home</a> </li>
                <li><a href="products">Products</a> </li>
                <li><a class="active" href="about">About</a> </li>
                <li><a href="contact">Contact</a> </li>
            </nav>
        <a href="login">
        <img src="images/usernew.svg" width="54px" height="22px"> 
        </a>
    </div> 
   

<!---------- BREADCRUMBS ---------->
    <div class="container-breadcrumbs">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index" class="breadcrumbs__link">Home</a>
            </li>

            <li class="breadcrumbs__item">
                <a href="products" class="breadcrumbs__link breadcrumbs__link--active">Our Story</a>
            </li>
        </ul>    
    </div>
    
    
<!---------- ABOUT US SECTION ---------->
    
    <main> 
         <div class="question-story">
        <h2>Our Story<br><br></h2>
    
    </div>
    <div class="container">
        <section id="story" class="story-section">
        <div class="section-text">
            <p>
            <br>For the past 15 years, A3 Design has gained the public`s eye for the high-quality products and great customer experience.
            <br>
            <br>
            
            We understand that choosing a wallpaper can be quite the journey, especially when there are so many options available. 
            That`s where the sales team can guide you and make sure you get exactly what you dreamed of.
            <br>
            <br>Exploring our luxury range from Designer brands you can also find glamourish collections such as Versace,
            Porsche, Karim Rachid and our favourite, the Van Gogh inspired collection.
            <br>
            <br>We can`t wait for your next visit!<br><br>
            </p> 
        </div>

<!---------- IMAGE SECTION ----------> 
        <div class="box-feature">
            <img src="images/_DSC0906%20(1).JPG" alt="">    
        </div>  
        </section> 
    </div>
    </main>

<!---------- MEET THE TEAM ---------->
    <div class="team-section">
        <div class="inner-width">
            <h1>MEET THE TEAM</h1>
            <h2>AWESOME LEADERS</h2>

            <!-- TEAM PERSON 1-->
            <div class="pe">
                <img src="images/TEAM/3.jpg" alt="">
                <div class="p-name">Marcelo Souza</div>
                <div class="p-des">Founder</div>
                <div class="p-sm">
                    <p>Marcelo is the founder and owner. <br> 
                    Fond of motorcycles, travelling <br> and music.
                    </p>
                </div>
            </div>

            <!-- TEAM PERSON 2-->
            <div class="pe">
                <img src="images/TEAM/2.jpg" alt="">
                <div class="p-name">Nethe Lima</div>
                <div class="p-des">Founder</div>
                <div class="p-sm">
                    <p>Nethe is the founder and owner. <br> 
                    Her biggest passions are good <br> food, meeting new places and <br> cats!
                    </p>
                </div>
            </div>

            <!-- TEAM PERSON 3-->
            <div class="pe">
                <img src="images/TEAM/1.jpg" alt="">
                <div class="p-name">Full Name</div>
                <div class="p-des">Marketing Leader</div>
                <div class="p-sm">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
     
<!---------- FOOTER ---------->
   <%- include("partials/footer"); -%>
    
</body>
</html>