<!DOCTYPE html>
<html lang="en">
<!---------- HEAD ---------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A3 Design | Online Catalog</title>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!---------- IMPORTS ---------->
    <!--- Adding icons such as WhatsApp, Facebook and Instagram pages --->
    <script src="https://kit.fontawesome.com/9ffe78eb03.js" crossorigin="anonymous"></script>
</head>
<body>

<!---------- NAVIGATION BAR ---------->
<!--- Adds navbar items such as the logo, links and login icon --->
    <%- include("partials/header"); -%>
    
    <!---------- TOP ROW ---------->
    
    <container>
        <div class="row">
            <div class="col-1">
                <h1>Give your home <br>a new style.</h1>
                <p> Visit our virtual catalog and buy your favourite products through WhatsApp.</p>
                <a href="products" class="btn">EXPLORE NOW</a>
            </div>
            <div class="col-1">
                <img src="images/5-31.jpg">
            </div>
        </div>
    </container>

    <!---------- ROW 3 - FEATURED PRODUCTS ---------->
    <div class="container">
        <section id="designs" class="samples">
            <div class="section-text">
                <br>
                <br>
                <h2>Exclusive</h2>
                <p>Search your favourite products</p>
                <br>
            </div>
            <div class="featured">

            </div>


            <!---------- INSTAGRAM POSTS ---------->

            <section id="design" class="instagram">
                <div class="section-insta">
                    <br>
                    <br>
                    <h2>FOLLOW OUR SOCIAL MEDIAS </h2>
                    <p>Find out more about our products and promotions at real time</p>
                    <br>
                </div>

                <div class="photos">
                    <div class="post">
                        <figure>
                            <img src="images/11 - VAN GOGH/2.jpg" alt="">
                            <figcaption>
                                <a href="products.html"></a>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="post">
                        <figure>
                            <img src="images/2 - ELEMENTS/ambientes/5-2.jpg" alt="">
                            <figcaption>
                                <a href="products.html"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="post">
                        <figure>
                            <img src="images/2-3.jpg" alt="">
                            <figcaption>
                                <a href="products.html"></a>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="post">
                        <figure>
                            <img src="images/3%20-%20NEW%20LIFE/ambientes/1-2.jpg" alt="">
                            <figcaption>
                                <a href="products.html"></a>
                            </figcaption>
                        </figure>
                        <br>
                        <br>
                    </div>
                    <div class="post">
                        <figure>
                            <img src="images/4%20-%20DANIEL%20HECHTER/ambientes/2-2.jpg" alt="">
                            <figcaption>
                                <a href="products.html"></a>
                            </figcaption>
                        </figure>
                        <br>
                        <br>
                    </div>

                </div>
            </section>

            <!---------- FOOTER ---------->
            <%- include("partials/footer"); -%>

</body>

</html>