<!DOCTYPE html>
<html lang="en">
<!---------- HEAD ---------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A3 Design | Online Catalog</title>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!---------- IMPORTS ---------->
    <!--- Adding icons such as WhatsApp, Facebook and Instagram pages --->
    <script src="https://kit.fontawesome.com/9ffe78eb03.js" crossorigin="anonymous"></script>
</head>
<body>

<!---------- NAVIGATION BAR ---------->
<!--- Adds navbar items such as the logo, links and login icon --->
    <%- include("partials/header"); -%>

    <!---------- ROW 3 - FEATURED PRODUCTS ---------->
    <div class="container">
        <section id="designs" class="samples">
            <div class="section-text">
                <br>
                <br>
                <h2>Exclusive Collections</h2>
                <p>Find out more about our exclusive wallpaper collections today</p>
                <br>
            </div>
            <div class="featured">

            </div>
        </section>
    </div>

<!---------- FOOTER ---------->
<%- include("partials/footer"); -%>

</body>

</html>