<!DOCTYPE html>
<html lang="en">  
<!---------- HEAD ---------->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A3 Design | Online Catalog</title>
    <link rel="stylesheet" href="css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!---------- IMPORTS ---------->
    <!--- Adding icons such as WhatsApp, Facebook and Instagram pages --->
    <script src="https://kit.fontawesome.com/9ffe78eb03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
</head>
<body>
    
<!---------- NAVIGATION BAR ---------->
<!--- Adds navbar items such as the logo, links and login icon --->
    <div class="navbar">
        <a href="index" class="logo"><img src="images/logo.png" width="125px"></a>
            <nav>
                <li><a href="index">Home</a> </li>
                <li><a href="products">Products</a> </li>
                <li><a href="about">About</a> </li>
                <li><a href="contact">Contact</a> </li>
            </nav>
        <a href="login" class="nav-login">
        <img src="images/usernew.svg" width="54px" height="22px"> 
        </a>
    </div> 


    <!---------- BREADCRUMBS ---------->
    <!--- Breadcrumbs will guide the user by showing the hierarchy of the website on the top of the page --->
    <div class="container-breadcrumbs">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="index" class="breadcrumbs__link">Home</a>
            </li>
            <!--- Present the name of the page the user is at this moment ---> 
            <li class="breadcrumbs__item">
                <a href="login" class="breadcrumbs__link breadcrumbs__link--active">Sign In</a>
            </li>
        </ul>
    </div>

    
<!---------- LOGIN PAGE ---------->  
<div class="container">
    <div class="row">
       <div class="col-md-6 offset-md-3 form-container">
           
        <h3 class="text-center">Sign In</h3>
          <form method="post" action="/login">
            
            <!---------- Input box to get user`s email ----------> 
            <!---------- If the user doesn`t type an email, a message will pop up on the screen ---------->
            <div class="form-group">
              <input
                type="email"
                id="email"
                name="email"
                required="required" 
                class="form-control"
                placeholder="Email"
              />
            </div>

            <!---------- Input box to get user`s password ---------->
            <div class="form-group">
              <input
                type="password"
                id="password"
                name="password"
                required="required"
                class="form-control"
                placeholder="Password"
              />
            </div>

            <div class="forgot-pass">
                <a href="login"><h1>Forgot my password</h1></a>
            </div>

            <!--- Display Login Button --->
                <div class="login-btn">
                    <a href="" class="btn">Login</a>
                </div>

                <!---------- Display Sign up option ---------->
                <div class="sign-up">
                    <h1>No account? <a href="login">Create one!</a></h1>
                </div>
                <h4>OR</h4>

                <!---------- Display Sign in options with Google and Facebook ---------->
                 <div class="login-social">
                    <h1>Login in with</h1>
                    <a href="https://www.google.com/gmail/" class="gmail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Gmail_Icon.svg/768px-Gmail_Icon.svg.png" width="40px"></a>
                    <a href="https://www.facebook.com/" class="facebook"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/384px-Facebook_icon.svg.png" width="40px"></a>
                </div>
          </form>
        </div>
    </div>
</div>
    
<!---------- FOOTER ---------->
    <%- include("partials/footer"); -%>
    
</body>
</html>