*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION BAR STARTS */
a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.navbar{
    display: flex;
    align-items: center;
    text-align: right;
    background-color: #fff;
    padding-left: 35px;
    padding-right: 45px;
    margin-top: 3px;
}

.navbar a.active {
  background-color: transparent;
  color: #ff523b;
  font-weight: 600;
}

.navbar nav{
    flex: 1;
}

.navbar nav li{
    display: inline-block;
    margin-right: 30px;
}

.navbar nav li a{
   color: #555;
   text-decoration: none;
   font-size: 16px;
}

.navbar nav li a:hover{
   color: #ff523b;
   font-weight: 600;
}

/* BREADCRUMBS */

.breadcrumbs{
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 13px;
    background-color: white;
    margin-bottom: 0px;
    box-shadow: 0 1px 10px #C9C8C3;
}

.breadcrumbs a{
    font-size: 13px;
}

.breadcrumbs__item{
    display: inline-block;
    margin-bottom: 10px;
}

.breadcrumbs__item:not(:last-of-type)::after{
    content: '>';
    margin: 0 8px;
    color: #555;
}

.breadcrumbs__link{
    text-decoration: none;
    color: #555;
}

.breadcrumbs__link:hover{
    text-decoration: underline;
}

.breadcrumbs__link--active{
    color: #ff523b;
    font-weight: 500;
}

/* CONTACT SECTION STARTS */

.contact{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("https://cdn.shopify.com/s/files/1/0849/0518/products/ceplok_2ab3703a-b744-46fe-8bca-377844caa385_1200x1200.jpg?v=1569102833"); 
    background-size: cover;
    opacity: 90%;
}

.container2{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactForm h1{
    position: relative;
    justify-content: center;
    align-items: center;
    color: #111;
    font-size: 35px;
    font-weight: 800;
    margin-left: 170px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.contactForm h2{
    position: relative;
    justify-content: center;
    align-items: justify;
    color: #222;
    font-size: 16px;
    font-weight: 400;
    margin-left: 0px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.contactForm{
    width: 50%;
    padding: 40px;
    background: white;
    margin-bottom: 0px;
    margin-left: 450px;
    border-radius: 8px;
    box-shadow: 0 0 1em #C9C8C3;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #555;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 15px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #ff523b;
    font-size: 12px;
    transform: translateY(-20px);
}

/* MAP AND CONTACT DETAILS*/

.contactInfo{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 50px;
}

.contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    padding-top: -20px;
}

.contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background:#F2EFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    color: #555;
    flex-direction: column;
    font-weight: 400;
    letter-spacing: 1px;
}

.contactInfo .box .text h3{
    font-weight: 800;
    color: #ff523b;
    opacity: 80%;
}

.find-store{
    margin-top: 50px;
    margin-bottom: 50px;
}

.map{
    display:flex;
    position: relative;
    /*min-height: 100vh; */
    width: 55%;
    display: flex;
    margin-left: 520px;
    margin-top: -410px;
}

/* COVID INFO SECTION*/

.underline:after {
    position: absolute;
	content: '';
	display: block;
	width: 4%;
	height: 3px;
    background-color: #ff523b;
    margin-left: 460px;
    margin-top: 6px;
    border-radius: 2px;
}

.layout_main {
  width: 100%;
  margin-left: 0px;
}

.info {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: center;
  background-color: #F2EFEF;
  border-radius: 0px;
}

.info h1{
  color:#333;
  font-weight: 800;
  font-size: 35px;
}

.info_title {
  color: #444;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 30px;
}

.info p{
  color: #555;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
}

.whatsapp-button a{
  color: #555;
  font-weight: 600;
  font-size: 22px;
}

.whatsapp-button {
  float: center;
  background-color: #F2EFEF;
}

.whatsapp-icon a:hover{
  color: #ff523b;
}

.whats{
    margin-top: 20px;
}

.btn{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  height: 48px;
  border-radius: 4px;
  width: 210px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 1em #888;
  transition: all 250ms linear;
  text-decoration: none;
  margin-bottom: 50px;
  background-color: #ff523b;
}

.btn i {
  padding-right: 7px;
  font-size: 20px;
}

.btn:hover{
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  background-color: #563434;
}

.whatsapp-button{
   margin-top: 10px;
}

.opening p{
    margin-top: -10px;
}

/* FOOTER*/

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #F2EFEF;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff523b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #555;
    text-decoration: none;
    font-weight: 400;
    color: #555;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #666;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #C9C8C3;
    margin-right: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #555;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #666;
}

.social-links a{
    margin-right: 5px;
}

.footer{
    box-shadow: 0 0 1em lightgray;
}



/* MEDIA QUERIES */



@media screen and (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container{
       flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo{
        width: 100%;
    }
}

@media(max-width: 767px)
{
    .contact{
        padding: 1px;
        padding-bottom: 40px;
    }
    .container{
       flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo{
        width: 100%;
    }
    .underline:after {
	content: '';
	display: block;
	width: 4%;
	height: 3px;
    background-color: red;
    margin-left: 220px;
    margin-top: 6px;
    border-radius: 2px;
}

}

/* Max-Width 600 - Small devices (phones 600px and down*/
@media screen and (max-width: 600px){
    
    /* NAVBAR AND BREADCRUMBS */
    .navbar{
        padding-left: 1px;
        margin-top: 3px;
    }

    .breadcrumbs{
        padding-left: 20px;
    }

    /* CONTACT FORM */
    .contact{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contactForm{
        width: 90%;
        padding: 20px;
        margin-left: 0px;
    }

    .contactForm h1{
        font-size: 25px;
        margin-left: 50px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .contactForm h2{
        font-size: 15px;
        letter-spacing: 0px;
    }

    .btn{
        margin-left: 15px;
    }
   
    /* MAPS AND CONTACT DETAILS*/

    .contactInfo{
        width: 100%;
        margin-left: 10px;
    }

    .contactInfo .box .icon{
        min-width: 40px;
        height: 40px;
        font-size: 15px;
    }

    .contactInfo .box .text{
        margin-left: 5px;
        font-size: 11px;
    }

    .contactInfo .box .text h3{
        font-weight: 800;
        color: #ff523b;
        opacity: 80%;
    }

    .find-store{
        margin-top: -30px;
        margin-bottom: 450px;
}

    .map{
        display:flex;
        position: relative;
        width: 55%;
        display: flex;
        margin-left: 10px;
        margin-top: -430px;
    }

    /* COVID INFO*/

    .underline:after {
        width: 15%;
        height: 3px;
        background-color: #ff523b;
        margin-left: 115px;
        margin-top: 6px;
    }
   
    .info {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .info h1{
        width: 100%;
        font-size: 25px;
    }

    .info_title {
        font-size: 15px;
        margin-top: 30px;
    }

    .info p{
        font-size: 15px;
        margin-left: -10px;
    }

    .whatsapp-button a{
        font-size: 22px;
    }

    .btn{
        font-size: 14px;
        height: 48px;
        border-radius: 4px;
        width: 200px;
        background-color: #ff523b;
        margin-bottom: 50px;
        margin-left: -15px;
    }

   /* FOOTER */
    
    .footer-col{
        width: 100%;
        margin-bottom: 20px;
    }
}
