*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.5;
}

/* NAVIGATION BAR */
.navbar a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.navbar{
    display: flex;
    align-items: center;
    text-align: right;
    background-color: #fff;
    padding-left: 35px;
    padding-right: 45px;
    margin-top: 3px;
}

.navbar a.active {
  background-color: transparent;
  color: #ff523b;
  font-weight: 600;
}

.navbar nav{
    flex: 1;   
}

.navbar nav li{
    display: inline-block;
    margin-right: 30px;
}

/* BREADCRUMBS */

.breadcrumbs{
    padding-left: 70px;
    padding-top: 10px;
    font-size: 13px;
    background-color: #F2EFEF;
    padding-bottom: 10px;
}

.breadcrumbs__item{
    display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after{
    content: '>';
    margin: 0 8px;
    color: #555;
}

.breadcrumbs__link{
    text-decoration: none;
    color: #555;
}

.breadcrumbs__link:hover{
    text-decoration: underline;
}

.breadcrumbs__link--active{
    color: #ff523b;
    font-weight: 500;
}


/* RESPONSIVE */
@media all and (max-width: 768px){
    section div{
        width: 80%;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .story-section,
    .samples{
        display: flex;
        flex-direction: column;
    }

    .section-text h2{
        text-align: center;
    }

    .section-text p{
        text-align: justify;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 3vw;
    }
}


/* FAQ */

.container-1{
    background-color: white;
}

.question{
    display: flex;
    justify-content: center;
    align-items: center;
}

.question h2{
    margin: 40px auto -40px;
    color: black;
    font-size: 38px;
    font-weight:800;
}

.accordion{
    margin: 0 auto;
    padding: 64px;
    width: 768px;
}


.accordion-item{
    border-bottom: 2px solid #e5e5e5;
}

.accordion-item button{
    position: relative;
    text-align: left;
    display: block;
    width: 100%;
    padding: 1em 0;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: #fff;
}

.accordion-item button:hover{
    cursor: pointer;
    color: #ff523b;
}

.accordion-content p{
    font-size: 15px;
    padding-bottom: 20px;
}

.accordion-button{
    display: flex !important;
    justify-content: space-between !important;
}
/*
.rotate{
    transition: 0.6s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);

}
*/

@media (max-width: 767px){
    html, body{
        overflow-x: hidden !important;
    }

    body{
        margin: 0px !important;
        align-items: center;
    }

    .accordion{
        width: 100%;
    }

    .question h2{
        width: 90%;
    }
    
    .col-1 .btn{
        width: 90%;
    }
}

/* QUESTIONS */

.container-2{
    background-color: #F2EFEF;
    margin-bottom: 20px;
}

.query{
    display: flex;
    justify-content: center;
    align-items: center;
}

.query h2{
    margin: 40px auto ;
    color: black;
    font-size: 35px;
    font-weight:800;
    margin-top: 60px;
    margin-bottom: 5px;
}

.how-text{
    color: black;
    font-size: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.col-1 .btn{
    display: inline-block;
    padding: 1rem 3rem;
    margin: 30px 0;
    margin-top: -30px;
    margin-left: 520px;
    margin-bottom: 60px;
    border-radius: 0px;
    background: #ff523b;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    transition: background 0.5s;
    text-align: center;
    text-decoration-line: none;
}


*/

.whats{
    margin-top: 20px;
}

.btn{
  margin: 30px 0;
  margin-top: -30px;
  margin-left: 520px;
  margin-bottom: 60px;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  height: 48px;
  border-radius: 4px;
  width: 210px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
  transition: all 250ms linear;
  text-decoration: none;
  margin-bottom: 50px;
  background-color: #ff523b;
}

.btn:hover{
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  background-color: #563434;
}


@media (max-width: 767px){
    /* .container-2{
     MAKE IT RESPONSIVE
    }*/
}


/* FOOTER */

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #F2EFEF;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff523b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #555;
    text-decoration: none;
    font-weight: 400;
    color: #555;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #666;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #C9C8C3;
    margin-right: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #555;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #666;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}


