*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.5;
}



/* NAVIGATION BAR */
.navbar a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.navbar{
    display: flex;
    align-items: center;
    text-align: right;
    background-color: #fff;
    padding-left: 35px;
    padding-right: 45px;
    margin-top: 3px;
}

.navbar a.active {
  background-color: transparent;
  color: #ff523b;
  font-weight: 600;
}

.navbar nav{
    flex: 1;   
}

.navbar nav li{
    display: inline-block;
    margin-right: 30px;
}

/* BREADCRUMBS */

.breadcrumbs{
    padding-left: 70px;
    padding-top: 10px;
    font-size: 13px;
}

.breadcrumbs__item{
    display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after{
    content: '>';
    margin: 0 8px;
    color: #666;
}

.breadcrumbs__link{
    text-decoration: none;
    color: darkgrey;
}

.breadcrumbs__link:hover{
    text-decoration: underline;
}

.breadcrumbs__link--active{
    color: #ff523b;
    font-weight: 500;
}


/* ROW 3 - PRODUCTS*/

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid white;
  float: left;
  width: 80%;
  background: #E8E8E8;
  border-radius: 2px;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ff523b;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
  opacity: 90%;
}

form.example button:hover {
  background: #999;
  opacity: 90%;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.section-text h2{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: black;
}

.section-text p{
    margin: auto 2.5em;
    line-height: 1.9em;
    font-size: 18px;
    font-weight: 300;
    color: #222;
}

.samples{
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.featured{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 0.1%;
    margin: 50px auto;
    margin-bottom: 60px;
}

.work {
    width: 100%;
    color: black;
}

.work a{
    width: 100%;
    color: #555;
    font-weight: 300;
    font-size: 15px;
    text-decoration-line: none;
}

.work p{
    width: 100%;
    color: #555;
    font-weight: 500;
    font-size: 15px;
}

.work img{
    width: 230px;
    height: 230px;
    cursor: pointer;
    max-height: auto;
    border-radius: px;
    opacity: 0.9;
}

.work img:hover{
    cursor: pointer;
    transform: translateY(-15px);
    transition: all ease 0.5s;
    opacity: 1;
}

@media all and (max-width: 768px){
    section div{
        width: 80%;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .story-section,
    .samples, .featured{
        display: flex;
        flex-direction: column;
    }

    .featured{
        width: 80%;
        margin: 0 auto;
    }

    .section-text h2{
        text-align: center;
    }

    .section-text p{
        text-align: justify;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 3vw;
    }

    .work a{
        font-size: 18px;
    }

}

.checked {
  color: orange;
}

/* FOOTER*/

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #F2EFEF;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff523b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #555;
    text-decoration: none;
    font-weight: 400;
    color: #555;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #666;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #C9C8C3;
    margin-right: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #555;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #666;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}







