*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.5;
}

/* NAVIGATION BAR */
.navbar a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.navbar{
    display: flex;
    align-items: center;
    text-align: right;
    background-color: #fff;
    padding-left: 35px;
    padding-right: 45px;
    margin-top: 3px;
    box-shadow: 0 0 6px lightgray;
}

.navbar a.active {
  background-color: transparent;
  color: #ff523b;
  font-weight: 600;
}

.navbar nav{
    flex: 1;   
}

.navbar nav li{
    display: inline-block;
    margin-right: 30px;
}

/* BREADCRUMBS */

.breadcrumbs{
    padding-left: 70px;
    padding-top: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}

.breadcrumbs__item{
    display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after{
    content: '>';
    margin: 0 8px;
    color: #555;
}

.breadcrumbs__link{
    text-decoration: none;
    color: #555;
}

.breadcrumbs__link:hover{
    text-decoration: underline;
}

.breadcrumbs__link--active{
    color: #ff523b;
    font-weight: 500;
}

/* ROW 3 - PRODUCTS*/


form.example{
    margin-top: 20px;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 13px;
  border: 1px solid lightgray;
  float: right;
  width: 80%;
  background: #E8E8E8;
  border-radius: 4px;
  box-shadow: 0 0 5px #C9C8C3;
}

.fa-search{
    margin-left: 260px;
    color: #333;
}

form.example button {
  float: right;
  width: 20%;
  padding: 10px;
  background: transparent;
  font-size: 13px;
  border: none;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.section-top{
    width: 100%;
    height: 160px;
    background-color:#f9f9f9;
}

.section-top h2{
    text-align: center;
    font-weight: 800;
    font-size: 45px;
    color:#111;
    margin-top: -40px;
}

.section-top p{
    margin-top: 10px; 
    line-height: 1.9em;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    letter-spacing: 1px;
}

.section-text h1{
    font-size: 16px;
    color: #333;
    float: left;
    margin-left: 90px;
    margin-top: 10px;
}

.samples{
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.featured{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 0.1%;
    margin: 50px auto;
    margin-bottom: 60px;
}

.work {
    width: 100%;
    color: black;
}

.work:hover{
    box-shadow: 0 5px 10px #C9C8C3;
    margin-top: 0px;
    margin-bottom: 40px;
}

.work a {
    text-decoration-line: none;
}

.work h2{
    color: #555;
    font-weight: 400;
    font-size: 16px;
    
}

.work h3{
    margin-top: -20px;
    color: #555;
    font-weight: 600;
    font-size: 15px;
}

.work img{
    width: 230px;
    height: 230px;
    cursor: pointer;
    max-height: auto;
    border-radius: px;
    opacity: 0.9;
}

.work img:hover{
    cursor: pointer;
    transform: translateY(-15px);
    transition: all ease 0.5s;
    opacity: 1;
}

.checked {
  color: orange;
}

/* FOOTER*/

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #F2EFEF;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff523b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #555;
    text-decoration: none;
    font-weight: 400;
    color: #555;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #666;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #C9C8C3;
    margin-right: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #555;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #666;
}

.social-links a{
    margin-right: 5px;
}

.footer{
    box-shadow: 0 0 1em lightgray;
}



/* MEDIA QUERIES
*Add media queries to make the website responsive for mobile, phablet and tablet view
*/

/* Max-Width 991px - Tablet View*/
@media (max-width: 991px){
    
}

/* Max-Width 767px - Phablet View*/
@media (max-width: 767px){

    /* PRODUCTS*/

    .section-top h2{
        text-align: center;
        font-size: 35px;
    }

    .section-top p{
        font-size: 16px;
        margin-bottom: -80px;
        text-align: center;
    }

    .featured{
        width: 50%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 4%;
        margin-top: 10px;
        margin-bottom: 1350px;
        margin-left: 150px;
    }

    .button-feat{
        width: 30%;
        margin-top: 50px;
    }

    .work a{
        font-size: 16px;
    }


    /* FOOTER */
    .footer-col{
        width: 50%;
        padding: 0 15px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
}

/* Max-Width 500 - Mobile View*/
@media(max-width: 800px){
    .footer-col{
        width: 100%;
    }

    .col-1 img{
    display: none;
    }
    
}


