*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVIGATION BAR */

a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.navbar{
    display: flex;
    align-items: center;
    text-align: right;
    background-color: #fff;
    padding-left: 35px;
    padding-right: 45px;
    margin-top: 3px;
}

.navbar a.active {
  background-color: transparent;
  color: #ff523b;
  font-weight: 600;
}

.navbar nav{
    flex: 1;   
}

.navbar nav li{
    display: inline-block;
    margin-right: 30px;
}

/* ROW 1 */

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F9F9F9;
}

.col-1{
    flex-basis: 35%;
    min-width: 300px;
}

.col-1 img{
    max-width: 90%;
    padding: 30px 0;
}

.col-1 h1{
    font-size: 60px;
    line-height: 60px;
    margin: 25px 0;
    margin-left: 50px;
    margin-top: 70px;
    margin-right: -140px;
}

.col-1 p{
    margin-left: 50px;
    margin-right: -140px;
    color: #555;
    font-size: 18px;
}

.whats{
    margin-top: 20px;
}

.btn{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  height: 48px;
  border-radius: 4px;
  width: 210px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
  background-color: #ff523b;
  transition: all 250ms linear;
  text-decoration: none;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 10px;
}

.btn i {
  padding-right: 7px;
  font-size: 20px;
}

.btn:hover{
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  background-color: #563434;
}


/* ROW 3 - FEATURED PRODUCTS*/

.section-text h2{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    color: #333;
}

.section-text p{
    margin: auto 2.5em;
    line-height: 1.9em;
    font-size: 18px;
    font-weight: 300;
    color: #555;
}

.samples{
    flex-direction: column;
    text-align: center;
    background-color: white;
}

.featured{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 0.5%;
    margin: 20px auto;
    margin-bottom: 60px;
}

.work {
    width: 100%;
    color: black;
}

.work a{
    width: 100%;
    color: #555;
    font-weight: 300;
    font-size: 15px;
}

.work p{
    width: 100%;
    color: #555;
    font-weight: 500;
    font-size: 15px;
}

.work img{
    width: 230px;
    height: 230px;
    cursor: pointer;
    max-height: auto;
    border-radius: px;
    opacity: 0.8;
}

.work img:hover{
    cursor: pointer;
    transform: translateY(-15px);
    transition: all ease 0.5s;
    opacity: 1;
}

/* VAN GOGH COLLECTION*/

.image-van img {
    margin: auto;
    margin-bottom: -120px;
}

.image-van img {
    max-width: 100%;
    display: block;
}
img {
    border: 0;
}

.button-see {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  height: 48px;
  border-radius: 4px;
  width: 210px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
  transition: all 250ms linear;
  text-decoration: none;
  margin-bottom: 50px;
  background-color: #ff523b; 
  margin-left: 680px;
  margin-top:-140px;
}

.button-see:hover{
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  background-color: #563434;
}

.button-feat {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 2;
  height: 48px;
  border-radius: 1px;
  width: 210px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  overflow: hidden;
  background-color: transparent;
  color: #ff523b;
  box-shadow: 0 6px 15px 0 rgba(16,39,112,.15);
  transition: all 250ms linear;
  text-decoration: none;
  margin-bottom: 50px;
  background-color: transparent; 
  margin-top:-140px;
  border: 3px solid #E8E6E6;
}

.button-feat:hover{
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
  background-color: #563434;
}


/* INSTAGRAM POSTS*/

.section-insta h2{
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    color: #333;
}

.section-insta p{
    margin: auto 2.5em;
    line-height: 1.9em;
    font-size: 18px;
    font-weight: 300;
    color: #555;
}

.instagram{
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin-top:30px;
}

.photos{
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 0.5%;
    margin: auto;
}

.post {
    width: 100%;
    color: black;
}

.post img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    max-height: auto;
    border-radius: px;
    opacity: 0.8;
}

.post img:hover{
    cursor: pointer;
    transform: translateY(-15px);
    transition: all ease 0.5s;
    opacity: 1;
}





/* FOOTER */


.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #F2EFEF;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #555;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ff523b;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #555;
    text-decoration: none;
    font-weight: 400;
    color: #555;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #666;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #C9C8C3;
    margin-right: 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #555;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #666;
}



/* MEDIA QUERIES
*Add media queries to make the website responsive for mobile, phablet and tablet view
*/

/* Max-Width 991px - Tablet View*/
@media (max-width: 991px){
    
}

/* Max-Width 767px - Phablet View*/
@media (max-width: 767px){

    /* ROW 1 TOP*/
    .col-1 h1{
        font-size: 45px;
        margin-left: 20px;
    }
    
    .col-1 p{
        font-size: 16px;
        margin-left: 20px;
    }

    .col-1 .btn{
        margin-left: 20px;
    }

    .col-1 img{
        width: 70%;
        margin-left: 60px;
    }

    /* FEATURED PRODUCTS*/

    .section-text h2{
        text-align: center;
        font-size: 35px;
    }

    .section-text p{
        font-size: 16px;
        margin-bottom: -80px;
        text-align: center;
    }

    .featured{
        width: 50%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 4%;
        margin-top: 100px;
        margin-bottom: 150px;
        margin-left: 150px;
    }

    .button-feat{
        width: 30%;
        margin-top: 50px;
    }

    .work a{
        font-size: 16px;
    }

    /* VAN GOGH BANNER */

    .button-see {
        width: 20%;
        margin-left: 410px;
        margin-top: 40px;
        position: relative;
        height: 40px;
        width: 180px;
    }

    .image-van img{
        width: 100%;
    }

    /* INSTAGRAM POSTS */

    .section-insta{
        margin-top: -80px;
    }

    .section-insta h2{
        text-align: center;
        font-weight: 800;
        font-size: 35px;
}

    .section-insta p{
        font-size: 16px;
    }

    .photos{
        align-items: justify;
        width: 50%;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 4%;
        margin-top: 30px;
        margin-bottom: 100px;
        margin-left: 150px;
    }

    /* FOOTER */
    .footer-col{
        width: 50%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
}

/* Max-Width 500 - Mobile View*/
@media(max-width: 500px){
    .footer-col{
        width: 100%;
    }

    .col-1 img{
    display: none;
    }
}

